.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--chat-background);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.chat-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: var(--chat-background-alt);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.chat-input {
  display: flex;
  border-top: 1px solid #ccc;
  background-color: var(--chat-background-alt);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
}

.chat-input input {
  flex: 1;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: var(--chat-background-alt);
  color: var(--input-text-color);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom-left-radius: 16px;
}

.chat-input input::placeholder {
  color: var(--placeholder-color);
  transition: color 0.3s ease;
}

.chat-input input:focus {
  background-color: var(--chat-background);
  color: var(--input-focus-text-color);
}

.chat-input button {
  padding: 15px;
  background: linear-gradient(to right, var(--button-bg-start), var(--button-bg-end));
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-bottom-right-radius: 16px;
}

.chat-input button:hover {
  background: linear-gradient(to right, var(--button-hover-bg-start), var(--button-hover-bg-end));
}

  
  
  
  
  
  
  
  
  