.theme-toggle-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--sidebar-background);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.theme-toggle-button:hover {
  background-color: var(--sidebar-item-hover);
  color: var(--text-color);
}


  
  
  
  
  
  
  
  