.title-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 20px; /* Adjust padding as needed */
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 10;
  height: 40px; /* Adjust height as needed */
}

.title-bar h1 {
  font-size: 18px; /* Adjust font size as needed */
  margin: 0 0 0 10px; /* Ensure no extra margin, add left margin for spacing */
  text-align: left; /* Align text to the left */
}

.theme-toggle-container {
  display: flex;
  align-items: center;
}

.theme-toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 30px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.theme-toggle-button.light {
  background-color: #f0f0f0;
}

.theme-toggle-button.dark {
  background-color: #333;
}

.toggle-icon {
  font-size: 16px; /* Adjust icon size as needed */
  color: var(--text-color); /* Ensure icon color matches the theme text color */
}


  
  
  
  