.App {
  text-align: center;
  position: relative;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotional-input {
  margin-right: 2rem;
}



