body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  background-color: #e0f7fa;
  color: #000;
}

body.dark-mode {
  background-color: #1e1e1e;
  color: #fff;
}




